.logout-btn {
    position: absolute;
    right: 50px;
    top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 40px; /* Increased padding for larger size */
    background: #10948d;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 22px; /* Increased font size */
    font-weight: bold;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 10px 20px rgba(63, 168, 168, 0.5);
}

.logout-btn .icon {
    width: 40px;
    height: 40px;
    margin-right: 10px; /* Adjusted margin for better spacing */
    background: url('../icons/logoutIcon.svg') no-repeat center center / contain;
    transition: transform 0.4s ease;
}

.logout-btn .text {
    position: relative;
    z-index: 1;
    transition: transform 0.4s ease;
}

.logout-btn::before, 
.logout-btn::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 160%; /* Increased size for larger button */
    height: 160%; /* Increased size for larger button */
    background: radial-gradient(circle, rgba(243, 239, 239, 0.055), transparent);
    transition: all 0.6s ease;
    border-radius: 50%;
    z-index: 0;
    transform: translate(-50%, -50%) scale(0);
}

.logout-btn:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.logout-btn:hover .icon {
    transform: translateX(-10px) rotate(-360deg); /* Rotate effect on hover */
}

.logout-btn:hover .text {
    transform: translateX(10px); /* Move text slightly on hover */
}

.logout-btn:hover {
    background: #68b7b9; /* Color change on hover */
    transform: scale(1.08); /* Slightly increase button size on hover */
}

.logout-btn:hover {
    background-color: #046f6b;
    transform: scale(1.1);
  }
  