/* General Styles */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  #map {
    border: 1px solid #333;
  }
  
  /* Add padding between sections */
  .container {
    padding-top: 30px;
  }
  